<div id="mod-partition-edit" class="modal" ng-controller="ModalPartitionCtrl as mvm">
  <header>
    <div ng-click="modalControl.close()" class="i i-close c-grey curp"></div>
    <h3> <span class="i i-partition"></span><span>{{mvm.partition.Partition}}</span></h3>
    <div class="button-group">
      <button class="c-red" ng-disabled="mvm.validate('destroy')" ng-click="mvm.destroy()"><span class="i i-delete"></span><span>Destroy</span></button>
      <button class="c-red" ng-disabled="mvm.validate('destroy-containers')" ng-click="mvm.destroyContainers()"><span class="i i-delete"></span><span>Destroy Containers</span></button>
    </div>
  </header>
  <div class="content" ng-if="mvm.mode === 'view'">
    <form>
      <fieldset class="label-50">
        <legend>Partition details</legend>
        <div class="row">
          <label for="lbl-name">Partition Name</label>
          <div class="field">
            <input type="text" id="lbl-name" placeholder="Required" ng-model="mvm.partition.Partition"/>
            <label for="lbl-name">
              <div class="i i-edit c-grey"></div>
            </label>
          </div>
          <div class="state">
            <button class="c-main" ng-disabled="mvm.validate('view')" ng-click="mvm.update()" >Save </button><span class="c-grey-light"> or</span>
            <button class="c-grey" ng-click="modalControl.close()">Cancel</button>
          </div>
        </div>
        <div class="row">
          <label for="lbl-host">Host Name</label>
          <div class="field">
            <input type="text" id="lbl-host" placeholder="Required" ng-model="mvm.partition.HostName" ng-readonly="true"/>
            <label for="lbl-host">
              <div class="i i-edit c-grey"></div>
            </label>
          </div>
        </div>
        <div class="row">
          <label for="lbl-partition">CPU</label>
          <div class="field">
            <input type="text" id="lbl-partition" placeholder="Optional" ng-model="mvm.partition.CPU" />
            <label for="lbl-partition">
              <div class="i i-edit c-grey"></div>
            </label>
          </div>
        </div>
        <div class="row">
          <label for="lbl-partition">RAM</label>
          <div class="field">
            <input type="text" id="lbl-partition" placeholder="Optional" ng-model="mvm.partition.RAM" />
            <label for="lbl-partition">
              <div class="i i-edit c-grey"></div>
            </label>
          </div>
        </div>
        <div class="row">
          <label for="lbl-partition">HDD</label>
          <div class="field">
            <input type="text" id="lbl-partition" placeholder="Optional" ng-model="mvm.partition.HDD" ng-change="mvm.calcHdd()" />
            <label for="lbl-partition">
              <div class="i i-edit c-grey"></div>
            </label>
          </div>
        </div>
        <div class="row">
          <label for="lbl-hdd">HDD usage</label>
          <div class="field">
            <div class="meter">
              <div style="width:{{mvm.partition.HddPercent}}%" class="bar"></div>
              <div class="value">{{mvm.partition['HDD(Used/Total)']}}</div>
            </div>
          </div>
        </div>
        <div class="row">
          <label for="lbl-uuid">Containers</label>
          <div class="field">
            <input type="text" id="lbl-uuid" placeholder="Optional" ng-model="mvm.partition.Containers" ng-readonly="true"/>
            <label for="lbl-uuid">
              <div class="i i-edit c-grey"></div>
            </label>
          </div>
        </div>
        <div class="row">
          <label for="lbl-ips">Public IPs</label>
          <ul class="field list">
            <li ng-repeat="publicIp in mvm.partition.ipv4Whitelist">
              <input type="text" id="lbl-ips-{{$index}}" ng-model="publicIp.value"/>
              <label for="lbl-ips-{{$index}}">
                <div class="i i-delete c-grey curp" ng-click="mvm.partition.ipv4Whitelist.splice($index, 1)"></div>
              </label>
            </li>
            <li>
              <button class="c-grey" ng-click="mvm.partition.ipv4Whitelist.push({ value: '' })"><span class="i i-add"></span><span>Add an IP</span></button>
            </li>
          </ul>
        </div>
      </fieldset>
    </form>
  </div>
  <div class="content" ng-if="mvm.mode === 'destroy'">
    <div ng-if="!mvm.confirmed">
      <h4 class="question tac">Are you sure you want to destroy this partition?</h4>
      <div class="state tac">
        <button class="c-red" ng-click="mvm.destroy(true)">Yes </button>
        <span class="c-grey-light"> or</span>
        <button class="c-grey" ng-click="mvm.cancel()">No</button>
      </div>
    </div>
    <div ng-if="mvm.confirmed" class="console-output">
      <div class="tac loading-spinner" ng-if="!mvm.consoleOutput && !mvm.consoleOutputEnd">
        <img src="/images/loading.svg" width="60" height="60">
      </div>
      <span ng-bind-html="mvm.consoleOutput"></span><br>
      <span ng-bind-html="mvm.consoleOutputEnd | terminal"></span>
    </div>
  </div>
  <div class="content" ng-if="mvm.mode === 'destroy-containers'">
    <div ng-if="!mvm.confirmed">
      <h4 class="question tac">Are you sure you want to destroy all containers in this partition?</h4>
      <div class="state tac">
        <button class="c-red" ng-click="mvm.destroyContainers(true)">Yes </button>
        <span class="c-grey-light"> or</span>
        <button class="c-grey" ng-click="mvm.cancel()">No</button>
      </div>
    </div>
    <div ng-if="mvm.confirmed" class="console-output">
      <div class="tac loading-spinner" ng-if="!mvm.consoleOutput && !mvm.consoleOutputEnd">
        <img src="/images/loading.svg" width="60" height="60">
      </div>
      <span ng-bind-html="mvm.consoleOutput"></span><br>
      <span ng-bind-html="mvm.consoleOutputEnd | terminal"></span>
    </div>
  </div>
  <div class="content" ng-if="mvm.mode === 'update'">
    <div class="console-output">
      <div class="tac loading-spinner" ng-if="!mvm.consoleOutput && !mvm.consoleOutputEnd">
        <img src="/images/loading.svg" width="60" height="60">
      </div>
      <span ng-bind-html="mvm.consoleOutput"></span><br>
      <span ng-bind-html="mvm.consoleOutputEnd | terminal"></span>
    </div>
  </div>
</div>
