.i {
    display: inline-block;

    $iconSizes: 1rem 1.5rem 2rem 3rem 4.5rem 6rem;

    $i: 0;
    @each $name, $val in $sizes {
        $i: $i+1;
        $v: nth($iconSizes, $i);
        &.#{$name} {
            width: $v;
            height: $v;
            font-size: $v;
            line-height: $v;
        }
    }
    &.huge { line-height: 4.6rem; }

    & + span {
        margin-left: 0.5em;
    }
}

.loading {
    width: 4rem;
    height: 1rem;
    background-image: url(/images/loading.svg);
    background-size: cover;

    &.large {
        width: 6rem;
        height: 1.5rem;
    }
}
