ul.pills {
    &>li {
        display: inline-block;
        margin-right: 1rem;
        span.i + span {
            margin-left: 0.5rem;
            margin-right: 1rem;
        }
        button {
            @extend %small;
        };
    }
    &>li:last-child button {
        width: auto;
    }
}