aside.sidebar-tabs {
    position: absolute;
    left: 0;
    top: 0;
    width: gs(2);
    height: 100%;
    border-right: 1px solid col('grey-lightest');
    nav {
        position: absolute;
        left: 0;
        right: 0;

        a {
            position: relative;
            @extend %button;
            display: inline-block;
            width: gs(2);
            height: gs(2);
            border-bottom: 1px solid col('grey-lightest');
            text-align: center;
            line-height: gs(2);


            &.active {
                background-color: col('bg-active');
                .i { color: col('main'); }
            }
            .popout { display: none; }
            &:hover {
                .popout { display: block; }
            }
        }
    }
}