<section class="add" ng-show="vm.loaded">
  <header>
    <h2 class="dib c-main vam">Add a host, partition or container</h2>
  </header>
  <div class="content">
    <div class="grid">
      <div class="c-lg-4 tac">
        <div class="i i-host c-main huge"></div>
        <h3>Tredly Host</h3>
        <p>Create connection to a new Tredly server for administrating it’s containers and partitions.</p>
        <button tredly-modal-open="/modals/connect/index.html" class="super c-main fs-small">
          <span class="i i-add"></span><span>Connect a host</span>
        </button>
      </div>
      <div class="c-lg-4 tac" ng-class="{disabled: !vm.canCreatePartition}">
        <div class="i i-partition c-main huge"></div>
        <h3>Partition</h3>
        <p>A partition is a section in a host with allocated resources where the containers reside in.</p>
        <small ng-if="!vm.canCreatePartition"><em>Add a host before creating a partition.</em></small>
        <button ng-if="vm.canCreatePartition" tredly-modal-open="/modals/createPartition/index.html" tredly-modal-data="{hosts: vm.hosts}" class="super c-main fs-small">
          <span class="i i-add"></span><span>Create partition</span>
        </button>
      </div>
      <div class="c-lg-4 tac" ng-class="{disabled: !vm.canCreateContainer}">
        <div class="i i-container c-main huge"></div>
        <h3>Container</h3>
        <p>A container is an isolated virtual server for your applications.</p>
        <small ng-if="!vm.canCreateContainer"><em>Add a partition before creating a container.</em></small>
        <button ng-if="vm.canCreateContainer" tredly-modal-open="/modals/createContainer/index.html" tredly-modal-data="{hosts: vm.hosts}" class="super c-main fs-small">
          <span class="i i-add"></span><span>Create container</span>
        </button>
      </div>
    </div>
  </div>
</section>
<div class="tac list-loading" ng-if="!vm.loaded" >
  <img src="/images/tank-build.svg" width="200" height="200">
</div>
